[submodule "fm-widgets"]
	path = fm-widgets
	url = git@github.com:alleyinteractive/fm-widgets.git
[submodule "fm-zones"]
	path = fm-zones
	url = git@github.com:alleyinteractive/fm-zones.git
[submodule "es-admin"]
	path = es-admin
	url = git@github.com:alleyinteractive/es-admin.git
[submodule "s3-direct-attachments"]
	path = s3-direct-attachments
	url = git@github.com:alleyinteractive/s3-direct-attachments.git
